<footer>
    <div>
        <div class="mat-title">PRODUCT</div>
        <div class="mat-body-2">Templates</div>
        <div class="mat-body-2">Explore</div>
        <div class="mat-body-2">Features</div>
        <div class="mat-body-2">Website Builder</div>
        <div class="mat-body-2">Web Accessibility</div>
        <div class="mat-body-2">Velo</div>
        <div class="mat-body-2">Wix Playground</div>
        <div class="mat-body-2">My Sites</div>
        <div class="mat-body-2">Premium Plans</div>
        <div class="mat-body-2">Wix SEO</div>
    </div>
    <div>
        <div class="mat-title">COMPANY</div>
        <div class="mat-body-2">About Wix</div>
        <div class="mat-body-2">Press Room</div>
        <div class="mat-body-2">Investor Relations</div>
        <div class="mat-body-2">Wix Jobs</div>
        <div class="mat-body-2">Design Assets</div>
        <div class="mat-body-2">Terms of Use</div>
        <div class="mat-body-2">App Market Terms</div>
        <div class="mat-body-2">Privacy Policy</div>
        <div class="mat-body-2">Privacy and Security Hub</div>
        <div class="mat-body-2">Accessibility Statement</div>
    </div>
    <div>
        <div class="mat-title">COMMUNITY</div>
        <div class="mat-body-2">Wix Blog</div>
        <div class="mat-body-2">Wix Marketplace</div>
        <div class="mat-body-2">Student Website</div>
        <div class="mat-body-2">Wix Encyclopedia</div>
        <div class="mat-body-2">Partner Community</div>
    </div>
    <div>
        <div class="mat-title">SUPPORT</div>
        <div class="mat-body-2">Support Center</div>
        <div class="mat-body-2">Getting Started Guide</div>
        <div class="mat-body-2">Wix Learn</div>
        <div class="mat-body-2">Status Page</div>
    </div>
</footer>