<div class="submitted-info">
    <div class="mat-title">Applicant's info</div>

    <div class="info-group">
        <div class="mat-subheading-2">Name:</div>
        <div class="mat-body-1">{{name}}</div>
    </div>

    <div class="info-group">
        <div class="mat-subheading-2">Email:</div>
        <div class="mat-body-1">{{email}}</div>
    </div>

    <div class="info-group">
        <div class="mat-subheading-2">Sex:</div>
        <div class="mat-body-1">{{sex}}</div>
    </div>

    <div class="info-group">
        <div class="mat-subheading-2">Date of Birth:</div>
        <div class="mat-body-1">{{birthDate | date}}</div>
    </div>

    <div class="info-group">
        <div class="mat-subheading-2">Job Type:</div>
        <div class="mat-body-1">{{preferredJobType}}</div>
    </div>

    <div class="info-group">
        <div class="mat-subheading-2">Preferred Snacks:</div>
        <div class="mat-body-1">Tea, Coffee, Burger, Hotdog</div>
    </div>
</div>