<!-- <form class="user-update-form">
    <div class="mat-title form-heading">Update User</div>
    <p>{{data.user.userName}}</p>
    <mat-form-field>
        <mat-label>User name</mat-label>
        <input matInput [formControl]="name" (input)="isValid()" required>
        <mat-error *ngIf="name.invalid">User name required!</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>User position</mat-label>
        <input matInput [formControl]="position" (input)="isValid()" required>
        <mat-error *ngIf="position.invalid">User position required!</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>User sex</mat-label>
        <mat-select [formControl]="sex" (input)="isValid()" required>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
        </mat-select>
        <mat-error *ngIf="sex.invalid">User sex required!</mat-error>
    </mat-form-field>

    <button type="button" mat-raised-button color="primary" (click)="onSubmitUpdated()" [mat-dialog-close]
        [disabled]="!updateValid">Submit</button>

</form> -->