<p class="toolbar-cont">
    <mat-toolbar color="accent">

        <span class="logo">Basic Material</span>

        <button mat-icon-button class="menu-item" aria-label="Menu home icon" routerLink="/"
            routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}">
            <mat-icon>home</mat-icon> Home
        </button>

        <button mat-icon-button class="menu-item" aria-label="Menu books icon" routerLink="/about"
            routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}">
            <mat-icon>menu_book</mat-icon> About
        </button>

        <button mat-icon-button class="menu-item" aria-label="Menu books icon" routerLink="/users"
            routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}">
            <mat-icon>group_icon</mat-icon> Users
        </button>

        <!-- <button mat-icon-button class="menu-item" aria-label="Menu books icon" routerLink="/products"
            routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}">
            <mat-icon>books</mat-icon>
            <span> Product List</span>
        </button>

        <button mat-icon-button class="menu-item" aria-label="Menu books icon" routerLink="/products/category"
            routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}">
            <mat-icon>books</mat-icon>
            <span> Product Category</span>
        </button>

        <button mat-icon-button class="menu-item" aria-label="Menu books icon" routerLink="/products/obsolete"
            routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}">
            <mat-icon>books</mat-icon>
            <span> Product Obsolete</span>
        </button>

        <button mat-icon-button class="menu-item" aria-label="Menu books icon" (click)="openDialog()">
            <mat-icon>border_color</mat-icon>
            <span> Apply For Job</span>
        </button> -->

    </mat-toolbar>
</p>